<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>
            <h2 style="font-size:1.5rem;" style="color:white;"><img src="../../assets/images/Mirrant.jpeg" height="50"> MIRRANT
            </h2>
        </mat-toolbar>
        <mat-nav-list>
            <a class="white-color" mat-list-item routerLink="/dashboard">
                <mat-icon class="white-color">dashboard</mat-icon>&nbsp;Dashboard
            </a>
            <a class="white-color" mat-list-item routerLink="/dashboard">
                <mat-icon class="white-color">devices</mat-icon>&nbsp;Devices
            </a>
            <a class="white-color" mat-list-item routerLink="/dashboard">
                <mat-icon class="white-color">message</mat-icon>&nbsp;Notifications
            </a>
            <a class="white-color" mat-list-item routerLink="/dashboard">
                <mat-icon class="white-color">multiline_chart</mat-icon>&nbsp;Reports
            </a>
            <a class="white-color" mat-list-item routerLink="/dashboard">
                <mat-icon class="white-color">article</mat-icon>&nbsp;About
            </a>
            <a class="white-color" mat-list-item routerLink="/dashboard">
                <mat-icon class="white-color">settings</mat-icon>&nbsp;Setting
            </a>
            <a class="white-color" mat-list-item routerLink="">
                <mat-icon class="white-color">logout</mat-icon>&nbsp;logout
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- <mat-toolbar>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        </mat-toolbar> -->
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>