.sidenav-container {
    height: 100%;
}

.sidenav {
    background-color: #7914de;
    width: 180px;
}

.white-color {
    color: white;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}